@font-face {
    font-family: Exo;
    src: url(../font/Exo/Exo-Italic-VariableFont_wght.ttf);
}

* {
    font-family: exo;
    font-weight: 50;
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    display: fixed;
}

/* Aufforderung */

#clickHint {
    position: absolute;
    color: white;
    font-size: 8vh;
    font-weight: bold;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 10;
    pointer-events: none;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.show-click {
    animation: pulse 2.5s ease-in-out infinite;
    opacity: 1;
}


/* Arcade Zoom */

#arcadeMachine {
    width: 90vw;
    height: 100%;
    position: relative;
    z-index: 1;
}

#arcadeScreen {
    position: absolute;
    width: 28.5vw;
    height: 26vh;
    top: 37%; 
    left: 36.5%; 
    cursor: pointer;
    z-index: 3;
    transition: transform 0.4s ease;
}

.zoom {
    transform: scale(20.5);
    transition: transform 0.9s ease;
    z-index: 0;
}

.zoomScreen {
    transform: scale(6.5);
    transition: transform 1.5s ease !;
}

/* Anfangs Animation */

@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateY(20vh);
    }
    60% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        transform: translate(0, -5vh);
    }
}

@keyframes fadeButtonsOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-move {
    animation: fadeInMove 2s ease-out forwards;
}

/* Menü */

#menu {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50vh;
    left: 15vw;
    width: 70%;
    justify-content: space-around;
    height: 15vh;
    z-index: 1000;
}

.screen {
    height: 100vh;
    width: 100vw;
    display: none;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
}

#title {
    opacity: 0;
    transition: none;
    height: 13vh;
    opacity: 100%;
    display: block;
    position: absolute;
    left: 28vw;
    top: 25vh;
}

.button {
    height: 15vh;
    width: fit-content;
    border: solid white 3px;
    color: #fff;
    font-size: 11vh;
    padding-left: 4%;
    padding-right: 4%;
}

.asteroidstitle {
    position: relative;
    top: -10vh;
    z-index: 0;
}

#arcadeScreenEdge {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
    display: none;
    left: 0;
}

/* Options */

h1 {
    width: fit-content;
    height: 10vh;
    font-family: 'exo';
    font-size: 15vh;
    color: white;
    margin-left: 35vw;
    text-decoration: underline 2px;
    padding-bottom: 5vh;
}

h2 {
    width: fit-content;
    height: 7vh;
    font-family: 'exo';
    font-size: 7vh;
    border: white solid 3px;
    color: white;
    padding: 2vh;
    padding-top: 1.6vh;
    margin-left: 20vw;
    border-radius: 5%;
}

h3 {
    position: absolute;
    top: 7.5vh;
    left: 5vw;
    color: white;
    border: white solid 3px;
    padding: 2vh;
    height: fit-content;
    font-size: 6vh;
}

h4 {
    color: white;
    font-size: 4vh;
    padding-top: 3vh;
}

#colorSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 18vh;
}

#colorSelect > h2 {
    margin-right: 5vw;
}

#colorPicker {
    width: fit-content;
    margin: 2vh;
    margin-right: 20vw;
    position: relative;
    top: 5vh;
}

#volumeSlider {
    width: 20vw;
    margin: 2vh;
    position: absolute;
    right: 20%;
    top: 60vh;
}