@font-face {
    font-family: Exo;
    src: url(../font/Exo/Exo-Italic-VariableFont_wght.ttf);
}

* {
    font-family: exo;
    font-weight: 50;
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

/* Arcade Zoom */

#arcadeMachine {
    width: 90vw;
    height: 100%;
    position: relative;
    z-index: 1;
}

#arcadeScreen {
    position: absolute; 
    width: 28vw;
    height: 30vh;
    top: 41.5%; 
    left: 35%; 
    cursor: pointer;
    z-index: 3;
}

.fixedScreen {
    position: fixed; 
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.zoom {
    transform: scale(4);
    left: 0;
    transition: transform 0.45s ease;
    z-index: 0;
}

.zoomScreen {
    transform: scale(3.7);
    transition: transform 0.4s ease;
}

/* Menü */

.screen {
    height: 100vh;
    width: 100vw;
    display: none;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#title {
    height: 13vh;
    opacity: 100%;
    display: block;
    position: absolute;
    left: 28vw;
    top: 25vh;
}

nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50vh;
    left: 15vw;
    width: 70%;
    justify-content: space-around;
    height: 15vh;
}

.button {
    height: 15vh;
    width: fit-content;
    border: solid white 3px;
    color: #fff;
    font-size: 11vh;
    padding-left: 4%;
    padding-right: 4%;
}